* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  background-color: #28343b;
}
header {
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #1f262e;
  position: fixed;
  z-index: 1000;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-items h3 {
  cursor: pointer;
  padding: 1% 2%;
}

.profile {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  padding: 0.5%;
}

.logo-name img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.logo-name {
  width: auto;
}

.mainImage img {
  width: 70%;
  height: 75vh;
  border: 3px ridge #757575;
}

.mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.5%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: auto;
  color: black;
}

.destination-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.destinations-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.destination-card {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-top: 20px;

  width: 20%;
}

.destination-card img {
  width: 80%;
  height: 30vh;
  background-color: green;
  border: 1px solid black;
  border-radius: 10px;
}

.destination-card p {
  position: absolute;
  padding-bottom: 10px;
  font-style: italic;
}
